*{
    margin: 0;
    padding: 0;
}
.header-section{
    background-color: lightgoldenrodyellow;
}
.logo img{
    width: 50%;
}

.komola{
    color: darkorange;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}
.navy{
    color: hsla(240, 77%, 12%, 0.781);
}
h5{
    font-size: 1.8rem;
}
p{
    color: gray;
}

/*********************************
  button sectioin from starts here
**********************************/
.button-icon{
    width: 25px;
    height: 25px;
    color: white;
    float: left;
    margin-left: 10px;
}
.button-text{
    color: white;
}
button{
    width: 150px;
    background-color: #708238;
    border: 2px solid #708238;
    padding: 10px 10px;
    border-radius: 20px;
}
/*********************************
  button sectioin ends here
**********************************/



/*********************************
    main section from starts here
**********************************/
#cloth{
    width: 100%;
    height: 50%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

/*********************************
    main section from starts here
**********************************/




/***********************************
    aide section from starts here
*************************************/
.box-size{
    width: 400px;
    height: 100%;
}
.text-box{
    width: 400px;
    height: 180px;
    border-right: 5px;
    border-radius: 20px;
    margin: 5px;
}
.text-box img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

/***********************************
    aide section ends here
*************************************/


/**************************************
    footer site from starts here
**************************************/

.footer{
    height: 150px;
    padding: 50px;
    align-items: center;
    border-radius: 10px;
}
.social-icons{
    list-style: none;
    
}
.social-icons .facebook{
    background-color: gray;
    padding: 15px;
    border-radius: 50%;
}
.social-icons .twitter{
    background-color: gray;
    padding: 15px;
    border-radius: 50%;
}
.social-icons .dribbble{
    background-color: gray;
    padding: 15px;
    border-radius: 50%;
}
.social-icons .linkedin{
    background-color: gray;
    padding: 15px;
    border-radius: 50%;
}
/**************************************
    footer site from starts here
**************************************/
